/* src/instructor/insCourses.css */

.custom-body {
    display: flex;
    height: 100%;
    width: 100%;
    place-items: center;
    background: whitesmoke;
  }
  
  .ins-courses-page-container {
    font-family: 'Your Chosen Font', sans-serif;
    color: #333;
    /* Add more styles as needed */
  }
  
  .ins-course-header {
    margin-bottom: 20px;
  }
  
  .ins-course-header h2 {
    color: black;
  }
  
  .ins-course-actions {
    margin-bottom: 20px;
  }
  
  .ins-course-actions p {
    color: black;
    margin-bottom: 10px;
  }
  
  .ins-add-week-button {
    background-color: #9d0054;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .ins-add-week-button:hover {
    background-color: #7a003c;
  }
  
  .ins-week-container {
    display: flex;
    flex-direction: column;
  }
  
  .ins-dropdown-button {
    margin-bottom: 10px;
  }
  
  /* Additional styles for lessons and assignments containers as needed */
  