/* manageCourse.css */


.manage-course-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.sidebar {
  width: 20%;
  padding: 10px;
  height: 100%;
  background-color: #b5b5b5;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.sidebar a:hover {
  background-color: #ddd;
}
.info-card {
  background-color: #06BBCC;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8%;
  margin-top: 50px;
}

.info-card h3 {
  margin-bottom: 10px;
}

.main-content {
  width: 80%;
  padding: 20px;
}

/* ... other styles remain the same ... */


.nav-links {
  display: flex;
  justify-content: flex-start;
}

.nav-links a {
  margin-right: 10px;
}

.course-name {
  font-size: 24px;
}

.manage-add-week {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.manage-course {
  font-size: 20px;
}

.add-week-button {
  padding: 8px 16px;
  background-color: #06BBCC;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.week-section {
  margin-top: 20px;
}

.week-button {
  padding: 8px 16px;
  background-color: #06BBCC;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.nested-buttons {
  margin-top: 10px;
}

/* Add further styling and formatting as needed */
