/* FilterInterest.css */
.filter-interest {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .checkbox-container {
    margin: 5px;
  }
  
  button {
    padding: 8px;
    background-color: #fff;
    color: #06BBCC;
    border: 1px solid #06BBCC;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  button:hover {
    background-color: #009688;
    color: #fff;
  }
  
  .courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .course-card {
    background-color: #06BBCC;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Set the width as per your design */
    margin: 15px; /* Add margin for spacing between cards */
  }
  